@import 'typography';
@import 'materialColors';

$link-color: material-color(red);
$link-hover-color: darken($link-color, 15%);

$icon-font-path: "/fonts/bootstrap/";
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';

$fontAwesomePath: "/fonts/";
@import '../../bower_components/font-awesome/scss/font-awesome';
@import '../../node_modules/ng-sortable/dist/ng-sortable.min';
@import '../../node_modules/angular-material/angular-material.scss';

html{
  overflow:auto;
}
body {
  font-family: roboto, sans-serif;
  color: material-color(grey,600);
  background-color: white;
  height: 100%;
}
h1,h2,h3,h4{
	font-family: Montserrat,roboto,sans-serif;
}


