extends ./index.common.jade

block scripts
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    //- Chrome, Firefox OS and Opera
    meta(name="theme-color", content="#F44336")
    //- Windows Phone
    meta(name="msapplication-navbutton-color", content="#F44336")
    //- iOS Safari
    meta(name="apple-mobile-web-app-status-bar-style", content="#F44336")
    link(rel="stylesheet", href="css/main.public.css")
block postBody
    script(src="js/public/main.js")